*.iml
.gradle
/local.properties
.idea
**/.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties

# For testing, create this file and populate with your credentials.
shared/src/commonTest/kotlin/org/orca/kotlass/client/COMPASS_PRIVATE_TEST_DATA.kt